In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('dataset/iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
x=df.iloc[:,0:4]
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [7]:
y=df.iloc[:,-1]

In [9]:
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [10]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=2)

In [13]:
x_train

     sepal_length  sepal_width  petal_length  petal_width
126           6.2          2.8           4.8          1.8
23            5.1          3.3           1.7          0.5
64            5.6          2.9           3.6          1.3
117           7.7          3.8           6.7          2.2
84            5.4          3.0           4.5          1.5
..            ...          ...           ...          ...
75            6.6          3.0           4.4          1.4
43            5.0          3.5           1.6          0.6
22            4.6          3.6           1.0          0.2
72            6.3          2.5           4.9          1.5
15            5.7          4.4           1.5          0.4

[120 rows x 4 columns]

In [14]:
x_test

     sepal_length  sepal_width  petal_length  petal_width
6             4.6          3.4           1.4          0.3
3             4.6          3.1           1.5          0.2
113           5.7          2.5           5.0          2.0
12            4.8          3.0           1.4          0.1
24            4.8          3.4           1.9          0.2
129           7.2          3.0           5.8          1.6
25            5.0          3.0           1.6          0.2
108           6.7          2.5           5.8          1.8
128           6.4          2.8           5.6          2.1
45            4.8          3.0           1.4          0.3
48            5.3          3.7           1.5          0.2
42            4.4          3.2           1.3          0.2
35            5.0          3.2           1.2          0.2
5             5.4          3.9           1.7          0.4
85            6.0          3.4           4.5          1.6
54            6.5          2.8           4.6          1.5
41            4.5          2.3           1.3          0.3
96            5.7          2.9           4.2          1.3
144           6.7          3.3           5.7          2.5
89            5.5          2.5           4.0          1.3
77            6.7          3.0           5.0          1.7
74            6.4          2.9           4.3          1.3
115           6.4          3.2           5.3          2.3
94            5.6          2.7           4.2          1.3
87            6.3          2.3           4.4          1.3
29            4.7          3.2           1.6          0.2
2             4.7          3.2           1.3          0.2
127           6.1          3.0           4.9          1.8
44            5.1          3.8           1.9          0.4
125           7.2          3.2           6.0          1.8

In [15]:
y_train

126     virginica
23         setosa
64     versicolor
117     virginica
84     versicolor
          ...
75     versicolor
43         setosa
22         setosa
72     versicolor
15         setosa
Name: species, Length: 120, dtype: object

In [16]:
y_test

6          setosa
3          setosa
113     virginica
12         setosa
24         setosa
129     virginica
25         setosa
108     virginica
128     virginica
45         setosa
48         setosa
42         setosa
35         setosa
5          setosa
85     versicolor
54     versicolor
41         setosa
96     versicolor
144     virginica
89     versicolor
77     versicolor
74     versicolor
115     virginica
94     versicolor
87     versicolor
29         setosa
2          setosa
127     virginica
44         setosa
125     virginica
Name: species, dtype: object

In [50]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
a=le.fit_transform(y_train)

In [51]:
b=le.fit_transform(y_test)

In [46]:
from sklearn.svm import SVC

In [52]:
svm=SVC(kernel='linear',random_state=0)
svm.fit(x_train,a)

SVC(kernel='linear', random_state=0)

In [ ]:
y_pred