*The Series include the data and time for every record and can fetch the record of dataframe.We can find out the data within certain range of data and time by using pandas module named time series

In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
time=pd.date_range(start='10/1/2022',end='11/1/2022',freq='Min')
print(time)

DatetimeIndex(['2022-10-01 00:00:00', '2022-10-01 00:01:00',
               '2022-10-01 00:02:00', '2022-10-01 00:03:00',
               '2022-10-01 00:04:00', '2022-10-01 00:05:00',
               '2022-10-01 00:06:00', '2022-10-01 00:07:00',
               '2022-10-01 00:08:00', '2022-10-01 00:09:00',
               ...
               '2022-10-31 23:51:00', '2022-10-31 23:52:00',
               '2022-10-31 23:53:00', '2022-10-31 23:54:00',
               '2022-10-31 23:55:00', '2022-10-31 23:56:00',
               '2022-10-31 23:57:00', '2022-10-31 23:58:00',
               '2022-10-31 23:59:00', '2022-11-01 00:00:00'],
              dtype='datetime64[ns]', length=44641, freq='T')

In [2]:
time=pd.date_range(start='10/1/2022',end='11/1/2022',freq='Min')
df=pd.DataFrame(time,columns=['DateTime'])
print(df)

                 DateTime
0     2022-10-01 00:00:00
1     2022-10-01 00:01:00
2     2022-10-01 00:02:00
3     2022-10-01 00:03:00
4     2022-10-01 00:04:00
...                   ...
44636 2022-10-31 23:56:00
44637 2022-10-31 23:57:00
44638 2022-10-31 23:58:00
44639 2022-10-31 23:59:00
44640 2022-11-01 00:00:00

[44641 rows x 1 columns]

In [3]:
time=pd.date_range(start='10/1/2022',end='11/1/2022',freq='Min')
df=pd.DataFrame(time,columns=['DateTime'])
df['DATA']=np.random.randint(0,100,size=(len(time)))
#df
df.head(20)

              DateTime  DATA
0  2022-10-01 00:00:00     1
1  2022-10-01 00:01:00    13
2  2022-10-01 00:02:00    72
3  2022-10-01 00:03:00     1
4  2022-10-01 00:04:00    69
5  2022-10-01 00:05:00    35
6  2022-10-01 00:06:00    62
7  2022-10-01 00:07:00    51
8  2022-10-01 00:08:00    48
9  2022-10-01 00:09:00    41
10 2022-10-01 00:10:00    53
11 2022-10-01 00:11:00    17
12 2022-10-01 00:12:00    65
13 2022-10-01 00:13:00    80
14 2022-10-01 00:14:00    17
15 2022-10-01 00:15:00    21
16 2022-10-01 00:16:00    57
17 2022-10-01 00:17:00    64
18 2022-10-01 00:18:00    96
19 2022-10-01 00:19:00    50